
<div class="page-container">
  <div class="page-container-sub">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">power_settings_new
        </mat-icon>
        <span class="data-header-text">Heating Control</span>
      </h3>
      <mat-divider></mat-divider>
    </div>
    <div class="chart-summary-lb">Out Door Temperature</div>
    <div class="chart-summary-val">{{ heatingSummary.outDoorTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-lb">Second Floor Temperature</div>
    <div class="chart-summary-val">{{ heatingSummary.sfTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-lb">Ground Floor Temperature</div>
    <div class="chart-summary-val">{{ heatingSummary.gfTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-lb">Garage Temperature</div>
    <div class="chart-summary-val">{{ heatingSummary.garageTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-lb">Boiler temperature</div>
    <div class="chart-summary-val">{{ heatingSummary.boilerTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-lb">Ground Floor Heating Pump</div>
    <div class="chart-summary-val">
      @if(isPumpGfEnabled()) {
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined">power
        </mat-icon>
      } @else {
        <mat-icon aria-hidden="false" aria-label="i-home" color="primary"
                  class="material-icons-outlined">power_off
        </mat-icon>
      }
    </div>
    <div class="chart-summary-lb">Second Floor Heating Pump</div>
    <div class="chart-summary-val">
      @if(isPumpSfEnabled()) {
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined">power
        </mat-icon>
      } @else {
        <mat-icon aria-hidden="false" aria-label="i-home" color="primary"
                  class="material-icons-outlined">power_off
        </mat-icon>
      }
    </div>
  </div>
  <div class="chart-container">
    <app-boiler-temp-stat-chart [data]="boilerTempStat"></app-boiler-temp-stat-chart>
  </div>
  <div class="table-sub-container">
    <h3>Ventilation Control</h3>
    <app-module-list [assignment]="2"></app-module-list>
  </div>
</div>
