<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h2>Module Config:</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      @if (data.binarySensorData) {
        @for (binarySensorData of data.binarySensorData; track binarySensorData.id) {
          <mat-list-item>
            @if (binarySensorData.enabled) {
              <mat-icon matListItemIcon>flash_on</mat-icon>
            } @else {
              <mat-icon matListItemIcon>flash_off</mat-icon>
            }
            <div matListItemTitle>{{ binarySensorData.name }}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      }
      @if (data.temperatureSensorData) {
        @for (temperatureSensorData of data.temperatureSensorData; track temperatureSensorData.id) {
          <mat-list-item>
            <mat-icon matListItemIcon matListIcon>network_check</mat-icon>
            <div matListItemTitle>{{ temperatureSensorData.name }}</div>
            <div matListItemLine>{{ temperatureSensorData.data }}°C</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      }
      @if (data.tempHumiditySensorData) {
        @for (tempHumiditySensorData of data.tempHumiditySensorData; track tempHumiditySensorData.id) {
          <mat-list-item>
            <mat-icon matListIcon>network_check</mat-icon>
            <div matListItemTitle>{{ tempHumiditySensorData.name }}</div>
            <div matListItemLine>
              <span>{{ tempHumiditySensorData.temperature }}°C</span>
              <span>{{ tempHumiditySensorData.humidity }}%</span>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      }
      @if (data.bme280TempHumidityPressureSensorData) {
        @for (bme280TempHumidityPressureSensorData of data.bme280TempHumidityPressureSensorData; track bme280TempHumidityPressureSensorData.id) {
          <mat-list-item>
            <mat-icon matListIcon>network_check</mat-icon>
            <div matListItemTitle>{{ bme280TempHumidityPressureSensorData.name }}</div>
            <div matListItemLine>
              <span>{{ bme280TempHumidityPressureSensorData.temperature }}°C</span>
              <span>{{ bme280TempHumidityPressureSensorData.humidity }}%</span>
              <span>{{ bme280TempHumidityPressureSensorData.pressure }}</span>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      }
      @if (data.tsl2591LuminositySensorData) {
        @for (tsl2591LuminositySensorData of data.tsl2591LuminositySensorData; track tsl2591LuminositySensorData.id) {
          <mat-list-item>
            <mat-icon matListIcon>network_check</mat-icon>
            <div matListItemTitle>{{ tsl2591LuminositySensorData.name }}</div>
            <div matListItemLine>{{ tsl2591LuminositySensorData.data }}lum</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      }
    </mat-list>
    <form class="update-organization-form" [formGroup]="moduleConfigForm">
      <div class="form-container">
        <div class="form-control-line">
          <mat-checkbox [formControlName]="'enabledOnStartup'" [checked]="data.startupMode === 1">Enabled On Startup</mat-checkbox>
        </div>
        <div class="form-control-line">
          <mat-checkbox [formControlName]="'mode'" [checked]="data.mode === 2">Module Logic Activated</mat-checkbox>
        </div>
        <div class="form-control-line"><mat-slider [min]="0" [max]="data.dimmableOutput ? 5 : 1" [step]="1" color="accent"><input matSliderThumb [formControlName]="'outputPortState'">Module Output</mat-slider></div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="cancel()" type="button">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="moduleConfigForm.invalid || !isChanged()">
      Save
    </button>
  </mat-card-actions>
</mat-card>

