<div class="container-fluid upper">
  <div class="row" style="align-items: center">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="login-wizard-logo">I-Home</div>
    </div>
  </div>
  <div class="row" style="align-items: center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h5>
        The use of Sectigo IoT Manager is restricted to authorized users only.<br>
        Access to Sectigo IoT Manager may be monitored by Sectigo for operational or business purposes.<br>
        Unauthorized access may lead to prosecution and/or disciplinary action.
      </h5>
    </div>
  </div>
  <div class="row" style="align-items: center">
    <div class="col-sm-3"></div>
<!--    <div class="col-sm-5">-->
<!--      <div *ngIf="loading">-->
<!--        <mat-spinner *ngIf="loading"></mat-spinner>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
