<div class="app-container">
  <div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="app-name">I-Home</h1>
    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink="/main/summary">
        <div class="menu-item">
              <span class="menu-item-img">
                <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">summarize</mat-icon>
              </span>
          <div class="menu-item-lb">
            Summary
          </div>
        </div>
      </a>
      <a mat-list-item routerLink="/main/power-control">
        <div class="menu-item">
              <span class="menu-item-img">
                <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">power_settings_new</mat-icon>
              </span>
          <div class="menu-item-lb">
            Power Settings
          </div>
        </div>
      </a>
      <a mat-list-item routerLink="/main/heating-control">
        <div class="menu-item">
              <span class="menu-item-img">
                <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">thermostat</mat-icon>
              </span>
          <div class="menu-item-lb">
            Heating Settings
          </div>
        </div>
      </a>
      <a mat-list-item routerLink="/main/lightning-control">
        <div class="menu-item">
              <span class="menu-item-img">
                <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">tungsten</mat-icon>
              </span>
          <div class="menu-item-lb">
            Lightning Settings
          </div>
        </div>
      </a>
      <a mat-list-item routerLink="/main/audit-log">
        <div class="menu-item">
              <span class="menu-item-img">
                <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">history</mat-icon>
              </span>
          <div class="menu-item-lb">
            Audit Log
          </div>
        </div>
      </a>
      <a mat-list-item routerLink="/main/messages">
        <div class="menu-item">
              <span class="menu-item-img">
                <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">change_history</mat-icon>
              </span>
          <div class="menu-item-lb">
            Messages
          </div>
        </div>
      </a>
      <a mat-list-item routerLink="/main/public-sign-in">
        <div class="menu-item">
              <span class="menu-item-img">
                <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">logout</mat-icon>
              </span>
          <div class="menu-item-lb">
            Sign-Out
          </div>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
      <mat-sidenav-content>
        <div class="sidenav-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
</mat-sidenav-container>

