<mat-drawer-container class="ihome-mat-drawer-container">
  <mat-drawer mode="side" opened>
    <div fxLayout="row" fxLayoutAlign="left center">
    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="/main/summary">
        <div fxFlex="30%"><mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">summarize</mat-icon></div>
        <div fxFlex>Summary</div>
      </a>
      <a mat-list-item routerLink="/main/power-control">
        <div fxFlex="30%"><mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">power_settings_new</mat-icon></div>
        <div fxFlex>Power Settings</div>
      </a>
      <a mat-list-item routerLink="/main/heating-control">
        <div fxFlex="30%"><mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">thermostat</mat-icon></div>
        <div fxFlex>Heating Settings</div>
      </a>
      <a mat-list-item routerLink="/main/lightning-control">
        <div fxFlex="30%"><mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">tungsten</mat-icon></div>
        <div fxFlex>Lightning Settings</div>
      </a>
      <a mat-list-item routerLink="/main/audit-log">
        <div fxFlex="30%"><mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">history</mat-icon></div>
        <div fxFlex>Audit Log</div>
      </a>
      <a mat-list-item routerLink="/main/messages">
        <div fxFlex="30%"><mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">change_history</mat-icon></div>
        <div fxFlex>Messages</div>
      </a>
      <a mat-list-item routerLink="/main/public-sign-in">
        <div fxFlex="30%"><mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">logout</mat-icon></div>
        <div fxFlex>Sign-Out</div>
      </a>
    </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="i-home-index-bg">
    <div class="drawer-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

