<div fxLayout="row" fxLayout.sm="column" xmlns="http://www.w3.org/1999/html">
  <div fxFlex="1 0 300px">
    <div class="data-panel">
      <div class="data-header">
        <h3>
          <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                    class="material-icons-outlined data-header-icon">network_check
          </mat-icon>
          <span class="data-header-text">System</span>
        </h3>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Security mode
        </div>
        <div fxFlex>
          <mat-icon *ngIf="systemSummary.securityMode > 0" aria-hidden="false" aria-label="i-home" color="accent"
                    class="material-icons-outlined">lock
          </mat-icon>
          <mat-icon *ngIf="systemSummary.securityMode == 0" aria-hidden="false" aria-label="i-home" color="primary"
                    class="material-icons-outlined">lock_open
          </mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Up Time
        </div>
        <div fxFlex>
          {{ getUpTime() }}
        </div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Load AVG
        </div>
        <div fxFlex>
          {{ systemSummary.loadAvg}}
        </div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          System Up Time
        </div>
        <div fxFlex>
          0000
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="1 0 300px">
    <div class="data-panel">
      <div class="data-header">
        <h3>
          <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                    class="material-icons-outlined data-header-icon">power_settings_new
          </mat-icon>
          <span class="data-header-text">Power Settings</span>
        </h3>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          External Power Line
        </div>
        <div fxFlex>
          <mat-icon *ngIf="systemSummary.powerStatus > 0" aria-hidden="false" aria-label="i-home" color="accent"
                    class="material-icons-outlined">power
          </mat-icon>
          <mat-icon *ngIf="systemSummary.powerStatus == 0" aria-hidden="false" aria-label="i-home" color="primary"
                    class="material-icons-outlined">power_off
          </mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Converter Power Src
        </div>
        <div fxFlex>
          <mat-icon *ngIf="systemSummary.pwSrcConverterMode === 1" aria-hidden="false" aria-label="i-home"
                    color="accent" class="material-icons-outlined">toggle_on
          </mat-icon>
          <mat-icon *ngIf="systemSummary.pwSrcConverterMode === 0" aria-hidden="false" aria-label="i-home"
                    color="primary" class="material-icons-outlined">toggle_off
          </mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Direct Power Src
        </div>
        <div fxFlex>
          <mat-icon *ngIf="systemSummary.pwSrcDirectMode === 1" aria-hidden="false" aria-label="i-home" color="accent"
                    class="material-icons-outlined">toggle_on
          </mat-icon>
          <mat-icon *ngIf="systemSummary.pwSrcDirectMode === 0" aria-hidden="false" aria-label="i-home" color="primary"
                    class="material-icons-outlined">toggle_off
          </mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Luminosity
        </div>
        <div fxFlex>{{ systemSummary.luminosity}}</div>
      </div>
    </div>
  </div>
  <div fxFlex="1 0 500px">
    <div class="chart-container">
      <app-temp-chart [data]="tempStat"></app-temp-chart>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.sm="column" xmlns="http://www.w3.org/1999/html">
  <div fxFlex="1 0 300px">
    <div class="data-panel">
      <div class="data-header">
        <h3>
          <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                    class="material-icons-outlined data-header-icon">device_thermostat
          </mat-icon>
          <span class="data-header-text">Temperature</span>
        </h3>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Outdoor
        </div>
        <div fxFlex>{{ systemSummary.outDoorTemperature * .01 | number:'1.1' }}&#8451;</div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Garage
        </div>
        <div fxFlex>{{ systemSummary.garageTemperature * .01 | number:'1.1' }}&#8451;</div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          First Floor
        </div>
        <div fxFlex>{{ systemSummary.gfTemperature * .01 | number:'1.1' }}&#8451;</div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Second Floor
        </div>
        <div fxFlex>{{ systemSummary.sfTemperature * .01 | number:'1.1' }}&#8451;</div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Boiler
        </div>
        <div fxFlex>{{ systemSummary.boilerTemperature * .01 | number:'1.1' }}&#8451;</div>
      </div>
    </div>
  </div>
  <div fxFlex="1 0 300px">
    <div class="data-panel">
      <div class="data-header">
        <h3>
          <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                    class="material-icons-outlined data-header-icon">water_damage
          </mat-icon>
          <span class="data-header-text">Humidity</span>
        </h3>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Outdoor
        </div>
        <div fxFlex>{{ systemSummary.outDoorHumidity * .0001 | percent: '1.1'}}</div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Garage
        </div>
        <div fxFlex>{{ systemSummary.garageHumidity * .0001 | percent: '1.1'}}</div>
      </div>
      <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
        <div fxFlex="60%">
          Indoor
        </div>
        <div fxFlex>{{ systemSummary.sfHumidity * .0001 | percent: '1.1'}}</div>
      </div>
    </div>
  </div>
  <div fxFlex="1 0 500px">
    <div class="chart-container">
      <app-pressure-chart [data]="pressureStat"></app-pressure-chart>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayout.sm="column">
  <div fxFlex="1 0 500px">
    <div class="chart-container">
      <app-boiler-temp-stat-chart [data]="boilerTempStat"></app-boiler-temp-stat-chart>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.sm="column">

  <div fxFlex>

  </div>
</div>
