<div class="page-container">
  <div class="page-container-sub">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">network_check
        </mat-icon>
        <span class="data-header-text">System</span>
      </h3>
      <mat-divider></mat-divider>
    </div>
    <div class="chart-summary-lb">Security Mode</div>
    <div class="chart-summary-val">
      <mat-icon *ngIf="systemSummary.securityMode > 0" aria-hidden="false" aria-label="i-home" color="accent"
                class="material-icons-outlined">lock
      </mat-icon>
      <mat-icon *ngIf="systemSummary.securityMode == 0" aria-hidden="false" aria-label="i-home" color="primary"
                class="material-icons-outlined">lock_open
      </mat-icon>
    </div>
    <div class="chart-summary-lb">Up Time</div>
    <div class="chart-summary-val">{{ getUpTime() }}</div>
    <div class="chart-summary-lb">Load AVG</div>
    <div class="chart-summary-val">{{ systemSummary.loadAvg }}</div>
    <div class="chart-summary-val2"></div>
  </div>
  <div class="page-container-sub">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">power_settings_new
        </mat-icon>
        <span class="data-header-text">Power Settings</span>
      </h3>
      <mat-divider></mat-divider>
    </div>
    <div class="chart-summary-lb">External Power Line</div>
    <div class="chart-summary-val">
      <mat-icon *ngIf="systemSummary.powerStatus > 0" aria-hidden="false" aria-label="i-home" color="accent"
                class="material-icons-outlined">power
      </mat-icon>
      <mat-icon *ngIf="systemSummary.powerStatus == 0" aria-hidden="false" aria-label="i-home" color="primary"
                class="material-icons-outlined">power_off
      </mat-icon>
    </div>
    <div class="chart-summary-val2"></div>

    <div class="chart-summary-lb">Converter Power Src</div>
    <div class="chart-summary-val">
      <mat-icon *ngIf="systemSummary.pwSrcConverterMode === 1" aria-hidden="false" aria-label="i-home"
                color="accent" class="material-icons-outlined">toggle_on
      </mat-icon>
      <mat-icon *ngIf="systemSummary.pwSrcConverterMode === 0" aria-hidden="false" aria-label="i-home"
                color="primary" class="material-icons-outlined">toggle_off
      </mat-icon>
    </div>
    <div class="chart-summary-val2"></div>
    <div class="chart-summary-lb">Luminosity</div>
    <div class="chart-summary-val">{{ systemSummary.luminosity }}</div>
    <div class="chart-summary-val2"></div>
  </div>

  <div class="chart-container">
    <app-general-power-chart [data]="powerStat"></app-general-power-chart>
  </div>


  <div class="page-container-sub">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">device_thermostat
        </mat-icon>
        <span class="data-header-text">Temperature/Humidity</span>
      </h3>
      <mat-divider></mat-divider>
    </div>
    <div class="chart-summary-lb">Outdoor</div>
    <div class="chart-summary-val">{{ systemSummary.outDoorTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-val2">{{ systemSummary.outDoorHumidity * .0001 | percent: '1.1' }}</div>
    <div class="chart-summary-lb">Garage</div>
    <div class="chart-summary-val">{{ systemSummary.garageTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-val2">{{ systemSummary.garageHumidity * .0001 | percent: '1.1' }}</div>
    <div class="chart-summary-lb">First Floor</div>
    <div class="chart-summary-val">{{ systemSummary.gfTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-val2"></div>
    <div class="chart-summary-lb">Second Floor</div>
    <div class="chart-summary-val">{{ systemSummary.sfTemperature * .01 | number:'1.1' }}&#8451;</div>
    <div class="chart-summary-val2">{{ systemSummary.sfHumidity * .0001 | percent: '1.1' }}</div>
    <div class="data-header">
      <mat-divider></mat-divider>
    </div>
    <div class="chart-summary-lb">Boiler</div>
    <div class="chart-summary-val">{{ systemSummary.boilerTemperature * .01 | number:'1.1' }}&#8451;</div>
  </div>
  <div class="chart-container2">
    <app-temp-chart [data]="tempStat"></app-temp-chart>
  </div>
  <div class="chart-container3">
    <app-boiler-temp-stat-chart [data]="boilerTempStat"></app-boiler-temp-stat-chart>
  </div>
</div>
