.charts-container {
  display: grid;
  grid-template-columns: 150px 100px;
  margin: 25px;
}

.data-header {
  grid-column: 1/span 4;
}
.sub-header {
  grid-column: 1/span 2;
}
.sub-header1 {
  grid-column: 3/span 2;
}
.free-space-col {
  grid-column: 5/5;
}
.chart-summary-lb {
  grid-column: 1/1;
}
.chart-summary-val {
  grid-column: 2/2;
}
.chart-summary-lb1 {
  grid-column: 3/3;
}
.chart-summary-val1 {
  grid-column: 4/4;
}
.chart-container {
  grid-column: 1/span 5;
}
