<a
  mat-list-item
  [style.--mat-list-list-item-leading-icon-start-space]="indentation()"
  [routerLink]="routeHistory() + '/' + item().route"
  (click)="nestedItemOpen.set(!nestedItemOpen())"
  routerLinkActive
  #rla="routerLinkActive"
  [activated]="rla.isActive"
>
  @if (item().icon) {
    <mat-icon matListItemIcon>{{ item().icon }}</mat-icon>
  }
  @if (!leftMenuCollapsed()) {
    <span matListItemTitle>{{ item().label }}</span>
  }
  @if (item().subItems) {
    <span matListItemMeta>
        @if (nestedItemOpen()) {
          <mat-icon>expand_less</mat-icon>
        } @else {
          <mat-icon>expand_more</mat-icon>
        }
      </span>
  }
</a>
@if (nestedItemOpen()) {
  <div class="subItemsContainer" @expandContractMenu>
    @for (subItem of item().subItems; track subItem.route) {
      @if (subItem.implemented && hasPermission(subItem.roles)) {
        <app-menu-item [item]="subItem" [routeHistory]="routeHistory() + '/' + item().route"/>
      }
    }
  </div>
}
