<div class="charts-container">
  <div class="data-header">
    <h3>
      <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                class="material-icons-outlined data-header-icon">power_settings_new
      </mat-icon>
      <span class="data-header-text">Summary</span>
    </h3>
    <mat-divider></mat-divider>
  </div>

  <div class="chart-summary-lb">External Power Line</div>
  <div class="chart-summary-val">{{ (powerSummary.extVoltage * 0.1).toFixed(1) }} V</div>
  <div class="chart-summary-lb">External Power Frequency</div>
  <div class="chart-summary-val">{{ (powerSummary.extFrequency * 0.1).toFixed(1) }} V</div>
  <div class="chart-container">
    <app-general-power-chart [data]="powerStat"></app-general-power-chart>
  </div>
</div>
