<div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
  <div fxFlex="5%"></div>
  <div fxFlex="30%"><h3>Power Control</h3></div>
  <div fxFlex></div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxFlexFill fxLayoutAlign="left center">
  <div fxFlex="5%"></div>
  <div fxFlex="30%">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">power_settings_new
        </mat-icon>
        <span class="data-header-text">Summary</span>
      </h3>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        External Power Line
      </div>
      <div fxFlex>
        <mat-icon *ngIf="isExternalPowerSourceOk()" aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined">power
        </mat-icon>
        <mat-icon *ngIf="!isExternalPowerSourceOk()" aria-hidden="false" aria-label="i-home" color="primary"
                  class="material-icons-outlined">power_off
        </mat-icon>
        <div>{{ (powerSummary.extVoltage * 0.1).toFixed(1)}} V</div>
      </div>
    </div>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        Frequency
      </div>
      <div>{{ (powerSummary.extFrequency * 0.01).toFixed(2)}} Hz</div>
    </div>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        Current
      </div>
      <div>{{ (powerSummary.extCurrent * 0.1).toFixed(1)}} A</div>
    </div>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        Consumption
      </div>
      <div>{{ (powerSummary.extConsumption * 0.1).toFixed(1)}} Kw/H</div>
    </div>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        Luminosity
      </div>
      <div fxFlex>{{ powerSummary.luminosity}}</div>
    </div>
  </div>
  <div fxFlex="30%">
    <div class="chart-container">
      <app-luminosity-chart [data]="luminosityStat"></app-luminosity-chart>
    </div>
  </div>
  <div fxFlex></div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxFlexFill fxLayoutAlign="left center">
  <div fxFlex="5%"></div>
  <div fxFlex="30%">


    <mat-divider></mat-divider>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        Internal Power Line
      </div>
      <div fxFlex>
        <div>{{ (powerSummary.intVoltage * 0.1).toFixed(1)}} V</div>
      </div>
    </div>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        Frequency
      </div>
      <div>{{ (powerSummary.intFrequency * 0.01).toFixed(2)}} Hz</div>
    </div>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        Current
      </div>
      <div>{{ (powerSummary.intCurrent * 0.1).toFixed(1)}} A</div>
    </div>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
      <div fxFlex="60%">
        Consumption
      </div>
      <div>{{ (powerSummary.intConsumption * 0.1).toFixed(1)}} Kw/H</div>
    </div>




  </div>
  <div fxFlex="30%">
    <div class="chart-container">
      <!--      <app-luminosity-chart [data]="luminosityStat"></app-luminosity-chart>-->
      <app-power-voltage-chart [data]="powerVoltageStat"></app-power-voltage-chart>
    </div>
  </div>
  <div fxFlex></div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxFlexFill fxLayoutAlign="left center">
  <div fxFlex="5%"></div>
  <div fxFlex="30%">











  </div>
  <div fxFlex="30%">
    <div class="chart-container">
      <!--      <app-luminosity-chart [data]="luminosityStat"></app-luminosity-chart>-->
      <app-power-consumption-chart [data]="powerConsumptionStat"></app-power-consumption-chart>
    </div>
  </div>
  <div fxFlex></div>
</div>

<div fxLayout="row" fxFlexFill fxLayoutAlign="left center">
  <div fxFlex="5%"></div>
  <div fxFlex="auto 1 0">
    <app-module-list [assignment]="1"></app-module-list>
  </div>
  <div fxFlex="5%"></div>
</div>

<div fxLayout="row" fxLayoutAlign="left center">
  <div fxFlex="5%"></div>
  <div fxFlex="auto 1 0">
    <app-module-list [assignment]="3"></app-module-list>
  </div>
  <div fxFlex="5%"></div>
</div>

<div fxLayout="row" fxLayoutAlign="left center">
  <div fxFlex="5%"></div>
  <div fxFlex="auto 1 0">
    <app-module-list [assignment]="6"></app-module-list>
  </div>
  <div fxFlex="5%"></div>
</div>
