<div class="page-container">
  <div class="page-container-sub">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">power_settings_new
        </mat-icon>
        <span class="data-header-text">Ext Line</span>
      </h3>
      <mat-divider></mat-divider>
    </div>
    <div class="chart-summary-lb">External Power Line</div>
    <div class="chart-summary-val">{{ (powerSummary.extVoltage * 0.1).toFixed(1) }} V</div>
    <div class="chart-summary-lb">Frequency</div>
    <div class="chart-summary-val">{{ (powerSummary.extFrequency * 0.01).toFixed(2) }} Hz</div>
    <div class="chart-summary-lb">Current</div>
    <div class="chart-summary-val">{{ (powerSummary.extFrequency * 0.01).toFixed(2) }} Hz</div>
    <div class="chart-summary-lb">Consumption</div>
    <div class="chart-summary-val">{{ (powerSummary.extConsumption * 0.1).toFixed(1) }} Kw/H</div>
    <div class="chart-summary-lb">Luminosity</div>
    <div class="chart-summary-val">{{ powerSummary.luminosity }}</div>
  </div>
  <div class="page-container-sub">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">power_settings_new
        </mat-icon>
        <span class="data-header-text">Int Bck Line</span>
      </h3>
      <mat-divider></mat-divider>
    </div>
    <div class="chart-summary-lb">Internal Bck Power Line</div>
    <div class="chart-summary-val">{{ (powerSummary.intBckVoltage * 0.1).toFixed(1) }} V</div>
    <div class="chart-summary-lb">Frequency</div>
    <div class="chart-summary-val">{{ (powerSummary.intBckFrequency * 0.01).toFixed(2) }} Hz</div>
    <div class="chart-summary-lb">Current</div>
    <div class="chart-summary-val">{{ (powerSummary.intBckCurrent * 0.1).toFixed(1) }} A</div>
    <div class="chart-summary-lb">Consumption</div>
    <div class="chart-summary-val">{{ (powerSummary.intBckConsumption * 0.1).toFixed(1) }} Kw/H</div>
  </div>

  <div class="page-container-sub">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">power_settings_new
        </mat-icon>
        <span class="data-header-text">Int Direct Line</span>
      </h3>
      <mat-divider></mat-divider>
    </div>
    <div class="chart-summary-lb">Int Direct Line</div>
    <div class="chart-summary-val">{{ (powerSummary.intVoltage * 0.1).toFixed(1) }} V</div>
    <div class="chart-summary-lb">Frequency</div>
    <div class="chart-summary-val">{{ (powerSummary.intFrequency * 0.01).toFixed(2) }} Hz</div>
    <div class="chart-summary-lb">Current</div>
    <div class="chart-summary-val">{{ (powerSummary.intCurrent * 0.1).toFixed(1) }} A</div>
    <div class="chart-summary-lb">Consumption</div>
    <div class="chart-summary-val">{{ (powerSummary.intConsumption * 0.1).toFixed(1) }} Kw/H</div>
  </div>
  <div class="chart-container">
    <app-power-voltage-chart [data]="powerVoltageStat"></app-power-voltage-chart>
  </div>
  <div class="chart-container2">
    <app-power-consumption-chart [data]="powerConsumptionStat"></app-power-consumption-chart>
  </div>
  <div class="chart-container3">
    <app-luminosity-chart [data]="luminosityStat"></app-luminosity-chart>
  </div>
  <div class="table-container">
    <div class="table-sub-container">
      <h3>Power Management Modules</h3>
      <app-module-list [assignment]="1"></app-module-list>
    </div>
    <div class="table-sub-container2">
      <h3>Gate Control</h3>
      <app-module-list [assignment]="3"></app-module-list>
    </div>
    <div class="table-sub-container">
      <h3>Ventilation Control</h3>
      <app-module-list [assignment]="6"></app-module-list>
    </div>
  </div>
</div>
