@use '@angular/material' as mat;
@import "../../../../theme_variables.scss";

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.app-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .app-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}










.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}


.sidenav-content {
  padding: 10px;
  background-image: url("../../../../assets/images/smart-4168483_1920.jpg");
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-content {
  height: 100%;
  background-image: url("../../../../assets/images/smart-4168483_1920.jpg");
}


.sidenav {
  width: 200px;
  height: 100%;
}

.icon-display {
  transform: scale(2);
}

.login-wizard-logo {
  width: 600px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  //text-transform: uppercase;
  //padding-top: 40px;
  padding-top: 40px;
  padding-left: 15px;
  transform: skew(-5deg);
  color: $accent;
  line-height: 1em;
  text-shadow: 3px 3px mat.get-color-from-palette($md-ihome-mcgpalette-dblue, 500);
}
.header {
  height: 64px;
}
.header-i-home-lb {
  font-size: small;
  line-height: 1.1;
  margin-top: 6px;
  margin-left: 2px;
  //color: mat-color($md-iot-palette-grey, 100);
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.menu-item-img {
  grid-column: 1/2;
}
.menu-item-lb {
  grid-column: 2/3;
  margin-top: 3px;
}
