<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined icon-display">home</mat-icon>
      <div class="login-wizard-logo">I-Home</div>
    </mat-toolbar>

    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="/public-outdoor">
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">device_thermostat</mat-icon>
        Outdoor Conditions
      </a>
      <a mat-list-item routerLink="/public-power">
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">power_inut</mat-icon>
        Power Input
      </a>
      <a mat-list-item routerLink="/public-sign-in">
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent" class="material-icons-outlined">login</mat-icon>
        Sign-In
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" color="accent">menu</mat-icon>
        <span class="login-wizard-logo">I-Home</span>
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
