<div fxLayout="row"
     fxLayout.sm="column"
     fxFlexFill
     fxLayoutAlign="left center">

  <div fxFlex="0 0 20px"></div>
  <div fxFlex="0 0 550px">
    <div class="form-container">
      <div *ngIf="isTokenExpired()">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div>
            <mat-form-field>
              <input matInput id="username" type="text" name="username"
                     required placeholder="Login" formControlName="username" maxlength="30"/>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput id="password" type="password" name="password"
                     required placeholder="Password" formControlName="password" maxlength="30"/>
            </mat-form-field>
          </div>

          <button autofocus mat-raised-button color="primary" [disabled]="isFormValid()" type="submit">Sign In
          </button>

        </form>
        <div class="error-msg" *ngIf="loginAttemptErrorMsg!==null">{{ loginAttemptErrorMsg }}</div>
      </div>
    </div>
  </div>
  <div fxFlex></div>
</div>
