@if (isTokenExpired()) {
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput id="username" type="text" name="username"
               required placeholder="Login" formControlName="username" maxlength="30"/>
        <mat-error *appErrorView="loginForm.controls.username.errors; errorMessage as error">
          {{ error }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput id="password" type="password" name="password"
               required placeholder="Password" formControlName="password" maxlength="30"/>
        <mat-error *appErrorView="loginForm.controls.password.errors; errorMessage as error">
          {{ error }}
        </mat-error>
      </mat-form-field>
      <button autofocus mat-raised-button color="accent" [disabled]="isFormValid()" type="submit">Sign In
      </button>
    </form>
    @if (loginAttemptErrorMsg!==null) {
      <div class="error-msg">{{ loginAttemptErrorMsg }}</div>
    }
  </div>
}
