<div class="page-container">
  <div class="page-container-sub">
    <div class="data-header">
      <h3>
        <mat-icon aria-hidden="false" aria-label="i-home" color="accent"
                  class="material-icons-outlined data-header-icon">power_settings_new
        </mat-icon>
        <span class="data-header-text">Lightning Control</span>
      </h3>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="table-sub-container">
    <h3>Second Floor</h3>
    <app-module-list [assignment]="4" [group]="3"></app-module-list>
  </div>
  <div class="table-sub-container2">
    <h3>Ground Floor</h3>
    <app-module-list [assignment]="4" [group]="2"></app-module-list>
  </div>
  <div class="table-sub-container">
    <h3>Garage</h3>
    <app-module-list [assignment]="4" [group]="1"></app-module-list>
  </div>
  <div class="table-sub-container2">
    <h3>External</h3>
    <app-module-list [assignment]="5" [group]="4"></app-module-list>
  </div>
</div>
