<div class="position-m header-container">
  <h3>Messages</h3>
  <div>
    <form [formGroup]="searchForm" autocomplete="off" class="search-fields">
      <mat-form-field>
        <mat-select placeholder="Error Event Type"
                    formControlName="errorType" class="mat-select">
          <mat-option value="All">All</mat-option>
        </mat-select>
        <mat-error *appErrorView="searchForm.controls.errorType.errors; errorMessage as error">
          {{ error }}
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matTooltip="Search"
                (click)="search('search')">
          <i class="fa fa-search fa-lg"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="position-m">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.created|date: 'yyyy-MM-dd HH:mm:ss' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.type }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.message }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator (page)="pageChanged()"
                 [length]="dataSource.totalCount"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </mat-paginator>

</div>

@if (showSpinner) {
<div class="loader-container">
<mat-progress-spinner></mat-progress-spinner>
</div>
}

