@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
@import "~@angular/material/theming";
@import "./theme_variables.scss";
@import "./theme";

html, body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.ihome-mat-drawer-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.chart-container {
  padding-top: 10px;
  height: 250px;
  width: 550px;
}

.data-header {
  position:relative;
  padding-top:4px;
}
.data-header-icon {
  position:relative;
}
.data-header-text{
  position:absolute;
  //padding-top:2px;
}

.data-panel {
  display: block;
  padding: 10px;
  width: 250px;
}
